@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Login -----------------------------------------------

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}
.valid-feedback,
.invalid-feedback {
  margin-left: calc(2em + 0.25rem + 1.5rem);
}

// Feed ----------------------------------------------

.feedcard {
    @extend .card;
    height: auto;
    img {
        height: 300px;
        width: 300px;
        padding: 20px;
    }
}
.searchbar{
    width: 300px;
    height: 40px;
}
.newpost {
    font-size: 10px;
}
.sortbuttons{
    font-size: 10px;
}
@include media-breakpoint-down (md){
    .newpost{
        margin: 0 !important;
    }
    .searchbar {
        display: none;
    }
    
    .searchlabel {
        display: none;
    }
}
// Edit Profile follow button ----------------------------------------------

.follow-container {

 
}

// Edit Profile Modal ----------------------------------------------

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    padding: 1rem;
}

.modal img {
    padding-top: 2rem;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  #saveBannerButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }